/*
  Fixing conflicts with main style file for external pages
*/
.header {
  background: transparent;
  height: unset;
}
.header a {
  transition-duration: 0s !important;
}
.explore {
  position: relative;
}
.page-wrapper {
  padding-bottom: 0;
}